@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto+Slab:400,700&display=swap');
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


.header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container {
    width: 82%;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0 0;
}

.header__menu {
    display: flex;
    margin: 0;
}

.header__menu li {
    list-style: none;
    margin-left: 35px;
}

.header__menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.35px;
    padding-bottom: 10px;
}

.header__menu a:hover {
    border-bottom: 2px solid #ffffff;
    transition-duration: 0.1s;
}

.header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__text {
    text-align: center;
    padding: 260px 0 0 0;
}

.logo {
    color: #ffffff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    z-index: 100;
}

.nav-burger {
    display: none;
    z-index: 100;
}

.nav-layout {
    width: 100%;
    height: 100vh;
    background-color: #c0301c;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition-duration: 0.5s;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-layout.active {
    transform: translateY(0%);
    transition-duration: 0.5s;
}

.nav-layout a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.35px;
    padding-bottom: 30px;
}

.header__text h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.header__text p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    padding: 25px 0 50px 0;
}

.header__btn {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 19px 34px 18px 35px;
    border-radius: 2px;
    border: 2px solid #ffffff;
}

.header__btn:hover, .parallax-section__btn:hover {
    color: #c0301c;
    background-color: #ffffff;
    transition-duration: 0.3s;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title h2 {
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 100px 0 30px 0;
}

.section-title p {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 400;
    padding: 28px 0 70px 0;
    text-align: center;
}

.section-title hr {
    width: 50px;
    height: 2px;
    background-color: #555555;
}

.image-box {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box-1 {
    border: 2px solid #dddddd;
    background-color: #c0301c;
}

.image-box-2, .image-box-3 {
    border: 2px solid #dddddd;
    background-color: #ffffff;
}

.services-item h3 {
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 29px 0 24px 0;
}

.services-item p {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 500;
    padding: 0px 0 100px 0;
    line-height: 24px;
    max-width: 345px;
}

.services-section__body {
    display: flex;
    justify-content: space-between;
}

.services-section__body > div:not(:last-child) {
    margin-right: 45px;
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.about-us-section {
    background-color: #f8f8f8;
}

.about-us-section__text-info {
    display: flex;
    justify-content: space-between;
}

.about-us-section__text-info p {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    max-width: 553px;
    padding: 0 0 70px 0;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    padding-right: 28px;
}

.team-member__info {
    text-align: center;
}

.team-member__info h3 {
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0 15px 0;
}

.team-member__info p {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 100px 0;
}

.team-member__picture {
    position: relative;
}

.team-member__picture:hover .team-member__panel {
    display: block;
}

.team-member__picture:hover .team-member__social {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member__panel {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #555555;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

.team-member__social {
    display: none;
}

.team-member__social a {
    margin-left: 10px;
    padding: 10px;
}

.team-member__social a:hover {
    background-color: #c0301c;
}

.team-member__social i{
    color: #ffffff;
    font-size: 17px;
}


.projects {
    padding-bottom: 70px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-item {
    position: relative;
    margin-bottom: 30px;
}

.project-item:not(:last-child) {
    margin-right: 30px;
}

.project-item__layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 48, 28, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-item:hover .project-item__layout {
    background-color: rgba(192, 48, 28, 0.7);
    transition-duration: 0.7s;
}

.project-item:hover .project-item__layout h3,
.project-item:hover .project-item__layout p,
.project-item:hover .project-item__layout a {
    opacity: 1;   
}

.project-item__layout h3 {
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
}

.project-item__layout p {
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 400;
    margin: 16px 0 40px;
    opacity: 0;
}

.project-item__layout a {
    color: #c0301c;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    padding: 15px 25px;
    background-color: #ffffff;
    opacity: 0;
}

.project-item__layout a:hover {
    background-color: #c0301c;
    color: #ffffff;
    border: 2px solid #ffffff;
    transition-duration: 0.1s;
    padding: 13px 25px;
}

.parallax-section {
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parallax-section h2 {
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    padding: 0 0 53px 0;
    text-align: center;
}

.parallax-section a {
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 16px 25px;
    border-radius: 2px;
    border: 2px solid #ffffff;
}


.post {
    display: flex;
}

.post > img {
    max-width: 460px;
    max-height: 322px;
}

.post-text {
    margin-left: 40px;
}

.blog-posts hr {
    height: 1px;
    background-color: #dddddd;
    margin: 38px 0;
}

.post-date {
    width: 76px;
    height: 76px;
    border: 2px solid #555555;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.post-date span {
    text-align: center;
    color: #777777;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2.4px;
}

.post-title {
    margin-left: 28px;
}

.post-header {
    display: flex;
}

.post-text h3 {
    color: #c0301c;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0 19px;
}

.post-text em {
    color: #777777;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
}

.post-title span {
    color: #c0301c;
}

.post-text p {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 23px 0 34px;
}

.post-text a {
    color: #c0301c;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.blog-post-2 {
    padding: 0 0 100px;
}


.clients-section {
    background-color: #f8f8f8;
}

.clients-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 98px 0 68px 0;
}

.clients-logo img:not(:last-child) {
    margin-right: 15px;
}

.clients-comment p {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 0 40px 0;
    font-style: italic;
}

.clients-comment cite {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.clients-comment blockquote {
    padding: 0 0 150px 0;
}

.slider {
    max-width: 763px;
    text-align: center;
    margin: 0 auto;
}

.carousel-cell {
    width: 100%;
}

.flickity-page-dots {
    bottom: 100px; 
}

.flickity-page-dots .dot {
    width: 13px;
    height: 13px;
}

.flickity-page-dots .dot.is-selected {
    background-color: #c0301c;
}


.contact-us__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.contacts i {
    font-size: 15px;
    color: #555555;
    position: absolute;
}

.contacts h4 {
    color: #555555;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline;
    margin-left: 18px;
}

.contacts p {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 0 40px 0;
    margin-left: 18px;
}

.contact-block {
    max-width: 175px;
    position: relative;
}

.contact-form {
    max-width: 730px;
}

.contact-form input[type='text'] {
    width: 350px;
    height: 44px;
    border: 1px solid #555555;
    margin: 0 0 21px 0px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    padding: 17px 0 17px 17px;
}

.contact-form input:focus, .contact-form textarea:focus {
    border: 1px solid #c0301c;
}

.contact-form input:nth-child(2), .contact-form input:nth-child(5) {
    margin-left: 26px;
} 

.contact-form textarea {
    width: 730px;
    height: 104px;
    border: 1px solid #555555;
    margin-bottom: 38px;
    padding: 17px 0 17px 17px;
    resize: none;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    padding: 17px 0 17px 17px;
}

.contact-form a {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 17px 36px;
    border: 1px solid #555555;
}

.contact-form a:hover {
    background-color: #555555;
    color: #ffffff;
    transition-duration: 0.1s;
}

input::placeholder, textarea::placeholder {
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.contact-form small {
    margin-left: 38px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 400;
}

small span {
    color: #c0301c;
    font-size: 16px;
}


.footer {
    width: 100%;
    height: 300px;
    background-color: #c0301c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-social {
    display: flex;
}

.footer-social li {
    margin-left: 20px;
}

.footer-social i {
    color: #ffffff;
    font-size: 22px;
}

.footer p {
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer hr {
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    margin: 30px 0;
}


/*Media querys*/

@media (max-width: 770px) {
    .header__menu {
        display: none;
    }

    .nav-burger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
    }

    .nav-burger span {
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 9px;
        transition-duration: 0.3s;
    }

    .nav-burger::after,
    .nav-burger::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }

    .nav-burger::after {
        top: 0;
        transition-duration: 0.3s;
    }

    .nav-burger::before {
        bottom: 0;
        transition-duration: 0.3s;
    }

    .nav-burger:hover {
        cursor: pointer;
    }

    .nav-burger.active span {
        transform: translateX(100px);
        transition-duration: 0.3s;
    }

    .nav-burger.active::before {
        transform: rotate(45deg);
        bottom: 9px;
        transition-duration: 0.3s;
    }

    .nav-burger.active::after {
        transform: rotate(-45deg);
        top: 9px;
        transition-duration: 0.3s;
    }

    .services-section__body {
        flex-direction: column;
    }
    
    .services-section__body > div:not(:last-child) {
        margin-right: 0px;
    }
    
    .contact-form small {
        display: block;
        margin-top: 50px;
    }

    .wrapper {
        overflow-x: hidden;
    }

    .header__text {
        padding: 175px 0 0 0;
    }

    .about-us-section__text-info {
        display: flex;
        flex-direction: column;
    }

    .team-members {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        padding-right: 0px;
    }

}

@media (max-width: 865px) {
    .clients-logo img {
        padding-bottom: 50px;
    }
}

@media (max-width: 1024px) {
    .post {
        flex-direction: column;
        align-items: center;
    }

    .post-text {
        margin-top: 30px;
        margin-left: 0px;
    }

    .contact-us__body {
        flex-direction: column;
        align-items: center;
    }

    .contacts {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }

    .contact-block:not(:last-child) {
        margin-right: 20px;
    }

    .contact-form {
        width: 100%;
    }
}

@media (max-width: 907px) {
    .contact-form input[type='text'] {
        width: 100%;
        margin-left: 0;
    }

    .contact-form textarea {
        width: 100%;
        margin-left: 0;
    }

    .project-item:not(:last-child) {
        margin-right: 0px;
    }

    .post > img {
        width: 100%;
        height: 100%;
    }
}

